html, body {
    background-color: #1a0066;
    color: white;
    font-family: "Montserrat", serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    display: block;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 10px;
}

div#header {
    display: block;    
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

#loginpanel {
    display: block;
    margin: 0 auto;
    width: 70%;
    font-family: "Ubuntu", serif;
    font-size: 18px;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 30px;
}
table#tweets {
    margin: 0px auto; 
}

#tweet {
    display:inline-block;
    font-family: "Ubuntu", serif;
    font-size: 16px;
    text-align: left;
    resize: none;
}

#comment {
    display:inline-block;
    font-family: "Ubuntu", serif;
    font-size: 16px;
    text-align: left;
    resize: none;
}

hr {
    height: 1px;
    border-top: 1px solid black;
}

#footer {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 10px;
}

input {
    width: 25%;
    height: 25px;
}
textarea.tweet {
    width: 200%;
    vertical-align: top;
    text-align: left;
    padding:0;
    resize: none;
}
textarea#comment {
    width: 80%;
    height: 27px;
    vertical-align: top;
    text-align: left;
    padding:0;
    padding: 0;
    resize: none;
}

button {
    font-size: 16px;
}

div.connection {
    font-size: 9px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
}

div.logged {
    float: right;
    /*position: absolute;*/
    right: 10px;
    top: 10px;
}